*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.bg-navy{
    background-color: #1f2937;
}

.bg-gray{
    background-color: #e5e7eb;
    font-size: 2.25rem;
    font-style: italic;
    color: #1f2937;
}

a{
    text-decoration: none;
}

h1{
    color: #f9faf8;
    font-size: 2.125rem;
    font-weight: bolder;
}

a, .sl-text{
    font-size: 1.125rem;
    color: #e5e7eb;
}

.logo{
    font-size: 1.3125rem;
    color: #f9faf8;
}

button{
    background-color: #3882f6;
    border-radius: 0.25rem;
    border-style: none;
    padding: 0.3125rem;
    color: #e5e7eb;
    width: 6em;
}

header.bg-navy{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .0625em 4.6875em 4.6875em;
}

.header-main{
    padding-top: 5em;
    gap: 5em;
}

ol{
    display: flex;
    gap: 5em;
}

.top-row, .header-main{
    display: flex;
    justify-content: space-between;
}

.img-container{
    width: 31.25em;
    height: 18.75em;
    background-color: #1f2937;
    display: flex;
}

.header-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.logo-container{
    width: 5em;
    height: 5em;
}

img{
   max-width: 100%;
}

img.pic-main{
    width: 31.25em;
    height: 18.75em;
    object-position: right;
}

/* Info section*/
.photo-container{
    width: 8em;
    height 8em;
    border-radius: 0.75em;
}

.squat, .bench, .deadlift, .winner{
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 0.75em;
}

.grey-text{
    color: #36393f;
    width: 8em;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin: 2em;
}

.gallery{
    display: flex;
    justify-content: space-around;
    gap:5em;
}

.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*Quote*/

.quote{
    display: flex;
    flex-direction: column;
    padding: 1.25em 8em;
    width: 100%;
    gap: 1.25em;
    text-align: center;
}

.signature{
    display:flex;
    justify-content: flex-end;
}

/*Call to action*/

.call{
    display: flex;
    background-color: #3882f6;
    border-radius: 0.5em;
    margin: 3em;
    justify-content: space-around;
    align-items: center;
}

.call-main{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}

.call-line{
    color: #f9faf8;
    font-size: 1.25em;
}

button.call{
    border-color: #f9faf8;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:
}